<div class="container-fluid">
    <footer class="footer">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-12 text-center" style="margin-top: 60px;">
                     <script>document.write(new Date().getFullYear())</script> &copy;   
                     <a href="" class="fw-bold footer-text" target="_blank">Tripple44fc.</a>
                 </div>
             </div>
         </div>
     </footer>
   </div>