<div class="page-content">

    <!-- Start Container Fluid -->
    <div class="container-xxl">
        <div class="row">
            
            <div class="col-xl-3 col-lg-4">
                <div class="card">
                     <div class="card-body">
                          <img src="assets/images/product/p-1.png" alt="" class="img-fluid rounded bg-light">
                          <div class="mt-3">
                               <h4>Men Black Slim Fit T-shirt <span class="fs-14 text-muted ms-1">(Fashion)</span></h4>
                               <h5 class="text-dark fw-medium mt-3">Price :</h5>
                               <h4 class="fw-semibold text-dark mt-2 d-flex align-items-center gap-2">
                                    <span class="text-muted text-decoration-line-through">$100</span> $80 <small class="text-muted"> (30% Off)</small>
                               </h4>
                               <div class="mt-3">
                                    <h5 class="text-dark fw-medium">Size :</h5>
                                    <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                         <input type="checkbox" class="btn-check" id="size-s">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-s">S</label>

                                         <input type="checkbox" class="btn-check" id="size-m" checked>
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-m">M</label>

                                         <input type="checkbox" class="btn-check" id="size-xl">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xl">Xl</label>

                                         <input type="checkbox" class="btn-check" id="size-xxl">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xxl">XXL</label>

                                    </div>
                               </div>
                               <div class="mt-3">
                                    <h5 class="text-dark fw-medium">Colors :</h5>
                                    <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                         <input type="checkbox" class="btn-check" id="color-dark">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-dark"> <i class="bx bxs-circle fs-18 text-dark"></i></label>

                                         <input type="checkbox" class="btn-check" id="color-yellow">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-yellow"> <i class="bx bxs-circle fs-18 text-warning"></i></label>

                                         <input type="checkbox" class="btn-check" id="color-white">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-white"> <i class="bx bxs-circle fs-18 text-white"></i></label>

                                         <input type="checkbox" class="btn-check" id="color-red">
                                         <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-red"> <i class="bx bxs-circle fs-18 text-danger"></i></label>

                                    </div>
                               </div>
                          </div>
                     </div>
                     <div class="card-footer bg-light-subtle">
                          <div class="row g-2">
                               <div class="col-lg-6">
                                    <a href="#!" class="btn btn-outline-secondary w-100">Create Product</a>
                               </div>
                               <div class="col-lg-6">
                                    <a href="#!" class="btn btn-primary w-100">Cancel</a>
                               </div>
                          </div>
                     </div>
                </div>
           </div>

            <div class="col-xl-9 col-lg-8 mt-3">
                <!-- Start of Single Form -->
                <form action="/add_product"  method="post" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="authToken" value="YOUR_JWT_TOKEN_HERE"> -->

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Product Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="productName" class="form-label">Product Name</label>
                                        <input type="text" id="productName" name="productName" class="form-control" placeholder="Item Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="productCategories" class="form-label">Product Categories</label>
                                    <select name="productCategories" id="productCategories" class="form-control" required data-choices data-choices-groups data-placeholder="Select Category">
                                        <option value="">Select Category</option>
                                        <option value="Jersey">Jersey</option>
                                        <option value="Clothes">Clothes</option>
                                        <option value="Other">Other</option>
                                    </select>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="productBrand" class="form-label">Brand</label>
                                        <input type="text" id="productBrand" name="productBrand" class="form-control" required placeholder="Brand Name">
                                    </div>
                                </div>
                
                                <div class="col-lg-6">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-control" id="gender" name="gender" required data-choices data-choices-groups data-placeholder="Select Gender">
                                        <option value="">Select Gender</option>
                                        <option value="Men">Men</option>
                                        <option value="Women">Women</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-4">
                                    <div class="mt-3">
                                        <h5 class="text-dark fw-medium">Size :</h5>
                                        <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" id="size-xs1" name="size" value="XS">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xs1">XS</label>
                                
                                            <input type="radio" class="btn-check" id="size-s1" name="size" value="S">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-s1">S</label>
                                
                                            <input type="radio" class="btn-check" id="size-m1" name="size" value="M">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-m1">M</label>
                                
                                            <input type="radio" class="btn-check" id="size-xl1" name="size" value="XL">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xl1">XL</label>
                                
                                            <input type="radio" class="btn-check" id="size-xxl1" name="size" value="XXL">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xxl1">XXL</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mt-3">
                                        <h5 class="text-dark fw-medium">Colors :</h5>
                                        <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group" required>
                                            <input type="radio" class="btn-check" id="color-dark1" name="color" value="Dark">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-dark1"> <i class="bx bxs-circle fs-18 text-dark"></i></label>

                                            <input type="radio" class="btn-check" id="color-yellow1" name="color" value="Yellow">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-yellow1"> <i class="bx bxs-circle fs-18 text-warning"></i></label>

                                            <input type="radio" class="btn-check" id="color-white1" name="color" value="White">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-white1"> <i class="bx bxs-circle fs-18 text-white"></i></label>

                                            <input type="radio" class="btn-check" id="color-red1" name="color" value="Red">
                                            <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-red1"> <i class="bx bxs-circle fs-18 text-danger"></i></label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="image" class="form-label">Select Image</label>
                                            <input type="file" name="image" class="form-control form-control-lg" required>
                                          </div>
                                    </div>

                                </div>
                                
                                <div class="row mt-4">
                                    <div class="col-lg-12">
                                         <div class="mb-3">
                                              <label for="description" class="form-label">Description</label>
                                              <textarea class="form-control bg-light-subtle" id="description" name="description" rows="7" required placeholder="Short description about the product"></textarea>
                                         </div>
                                    </div>
                               </div>

                               <div class="row">
                                <div class="col-lg-4">
                                    <!-- Tag Number Input -->
                                    <div class="mb-3">
                                        <label for="tagNumber" class="form-label">Tag Number</label>
                                        <input type="number" id="tagNumber" name="tagNumber" class="form-control" placeholder="#******">
                                    </div>
                                </div>
                            
                                <div class="col-lg-4">
                                    <!-- Stock Input -->
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">Stock</label>
                                        <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Quantity" required>
                                    </div>
                                </div>
                            
                                <div class="col-lg-4">
                                    <!-- Price Input -->
                                    <div class="mb-3">
                                        <label for="price" class="form-label">Price</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text fs-20"><i class='bx bx-dollar'></i></span>
                                            <input type="number" id="price" name="price" class="form-control" required placeholder="000">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="discountType" class="form-label">Select Discount Type</label>
                                    <select class="form-control" id="discountType" name="discountType" data-choices data-choices-groups data-placeholder="Select Discount Type">
                                        <option value="">Discount Type</option>
                                        <option value="Percentage">Percentage</option>
                                        <option value="Fixed">Fixed Amount</option>
                                    </select>
                                </div>
                                
                                <div class="col-lg-4">
                                    <!-- Discount Input -->
                                    <div class="mb-3">
                                        <label for="discount" class="form-label">Discount</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text fs-20"><i class='bx bxs-discount'></i></span>
                                            <input type="number" id="discount" name="discount" class="form-control" placeholder="000">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4">
                                    <!-- Tax Input -->
                                    <div class="mb-3">
                                        <label for="tax" class="form-label">Tax</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text fs-20"><i class='bx bxs-file-txt'></i></span>
                                            <input type="number" id="tax" name="tax" class="form-control" placeholder="000">
                                        </div>
                                    </div>

                    
                                </div>
                            </div>



                            </div>
                        </div>
                        <!-- End Card Body -->
                        <div class="card-footer bg-light-subtle" >
                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-outline-secondary w-100">Save Product</button>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#!" class="btn btn-primary w-100">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->
                </form>
                <!-- End Form -->
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container-fluid -->
</div>
<!-- End page-content -->
